html {
  font-family: 'Nunito', sans-serif;
}

open,
close {
  font-family: 'Nunito', sans-serif;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}

.features li {
  width: 100%;
  text-align: center;
  padding: 0.25em;
}

.drawer-list {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9997;
  -webkit-transform: translate(100vw, 0);
  transform: translate(100vw, 0);
  /* ie workaround */
  -ms-transform: translatex(-100vw);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  pointer-events: none;
  padding-top: 125px;
  -webkit-transition: width 475ms ease-out, border-radius 0.8s 0.1s ease, -webkit-transform 450ms ease;
  transition: width 475ms ease-out, border-radius 0.8s 0.1s ease, -webkit-transform 450ms ease;
  -o-transition: width 475ms ease-out, transform 450ms ease, border-radius 0.8s 0.1s ease;
  transition: width 475ms ease-out, transform 450ms ease, border-radius 0.8s 0.1s ease;
  transition: width 475ms ease-out, transform 450ms ease, border-radius 0.8s 0.1s ease, -webkit-transform 450ms ease;
  border-bottom-left-radius: 100vw;
  background-color: #3d88ce;
  background-color: #1e810057;
}

.drawer-list ul {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  pointer-events: auto;
}

.drawer-list li {

  list-style: none;
  text-transform: uppercase;
  pointer-events: auto;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translatex(100vw);
  transform: translatex(100vw);
  /* ie workaround */
  -ms-transform: translatex(-100vw);
  font-family: 'Nunito', sans-serif;

}

.drawer-list li:last-child {
  margin-bottom: 2em;
}

.drawer-list li a {
  text-decoration: none;
  color: #FEFEFE;
  text-align: center;
  display: block;
  padding: 1rem;
  font-size: 20px;
}

.drawer-list li a:hover {
  cursor: pointer;
  background-color: #88c2f8;
  background-color: #34393f94;
}

input.hamburger {
  display: none;
}

input.hamburger:checked~.drawer-list {
  -webkit-transform: translatex(0);
  -ms-transform: translatex(0);
  transform: translatex(0);
  border-bottom-left-radius: 0;
}

input.hamburger:checked~.drawer-list li {
  -webkit-transform: translatex(0);
  -ms-transform: translatex(0);
  transform: translatex(0);
}

input.hamburger:checked~.drawer-list li:nth-child(1) {
  -webkit-transition: -webkit-transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(2) {
  -webkit-transition: -webkit-transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(3) {
  -webkit-transition: -webkit-transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(4) {
  -webkit-transition: -webkit-transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(5) {
  -webkit-transition: -webkit-transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(6) {
  -webkit-transition: -webkit-transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(7) {
  -webkit-transition: -webkit-transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(8) {
  -webkit-transition: -webkit-transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(9) {
  -webkit-transition: -webkit-transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(10) {
  -webkit-transition: -webkit-transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(11) {
  -webkit-transition: -webkit-transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(12) {
  -webkit-transition: -webkit-transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(13) {
  -webkit-transition: -webkit-transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(14) {
  -webkit-transition: -webkit-transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(15) {
  -webkit-transition: -webkit-transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(16) {
  -webkit-transition: -webkit-transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(17) {
  -webkit-transition: -webkit-transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(18) {
  -webkit-transition: -webkit-transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(19) {
  -webkit-transition: -webkit-transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(20) {
  -webkit-transition: -webkit-transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(21) {
  -webkit-transition: -webkit-transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(22) {
  -webkit-transition: -webkit-transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(23) {
  -webkit-transition: -webkit-transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(24) {
  -webkit-transition: -webkit-transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(25) {
  -webkit-transition: -webkit-transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(26) {
  -webkit-transition: -webkit-transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(27) {
  -webkit-transition: -webkit-transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(28) {
  -webkit-transition: -webkit-transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(29) {
  -webkit-transition: -webkit-transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(30) {
  -webkit-transition: -webkit-transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(31) {
  -webkit-transition: -webkit-transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(32) {
  -webkit-transition: -webkit-transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(33) {
  -webkit-transition: -webkit-transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(34) {
  -webkit-transition: -webkit-transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(35) {
  -webkit-transition: -webkit-transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(36) {
  -webkit-transition: -webkit-transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(37) {
  -webkit-transition: -webkit-transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(38) {
  -webkit-transition: -webkit-transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(39) {
  -webkit-transition: -webkit-transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(40) {
  -webkit-transition: -webkit-transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(41) {
  -webkit-transition: -webkit-transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(42) {
  -webkit-transition: -webkit-transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(43) {
  -webkit-transition: -webkit-transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(44) {
  -webkit-transition: -webkit-transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(45) {
  -webkit-transition: -webkit-transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(46) {
  -webkit-transition: -webkit-transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(47) {
  -webkit-transition: -webkit-transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(48) {
  -webkit-transition: -webkit-transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(49) {
  -webkit-transition: -webkit-transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li:nth-child(50) {
  -webkit-transition: -webkit-transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked~.drawer-list li a {
  padding-right: 15px;
}

input.hamburger:checked~.drawer-list li a img {
  width: 30px !important;
  height: 30px !important;
  margin-right: 10px;
}

input.hamburger:checked~label>i {
  background-color: transparent;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

input.hamburger:checked~label>i:before {
  -webkit-transform: translate(-50%, -50%) rotate(315deg);
  -ms-transform: translate(-50%, -50%) rotate(315deg);
  transform: translate(-50%, -50%) rotate(315deg);
}

input.hamburger:checked~label>i:after {
  -webkit-transform: translate(-50%, -50%) rotate(-315deg);
  -ms-transform: translate(-50%, -50%) rotate(-315deg);
  transform: translate(-50%, -50%) rotate(-315deg);
}

input.hamburger:checked~label close {
  color: #000000;
  width: 100%;
}

input.hamburger:checked~label open {
  color: transparent;
  width: 0;
}

label.hamburger {
  z-index: 9999;
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
}

label.hamburger:hover {
  cursor: pointer;
}

label.hamburger text close,
label.hamburger text open {
  text-transform: uppercase;
  font-size: 0.8em;
  align-text: center;
  position: absolute;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  text-align: center;
  overflow: hidden;
  -webkit-transition: width 0.25s 0.35s, color 0.45s 0.35s;
  -o-transition: width 0.25s 0.35s, color 0.45s 0.35s;
  transition: width 0.25s 0.35s, color 0.45s 0.35s;
}

label.hamburger text close {
  color: transparent;
  right: 0;
  width: 0;
}

label.hamburger text open {
  color: #000000;
  width: 100%;
}

label.hamburger>i {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  background-color: #000000;
  pointer-events: auto;
  -webkit-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-delay: 0.35s;
  -o-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

label.hamburger>i:before,
label.hamburger>i:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  left: 50%;
  background-color: #000000;
  content: "";
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  -o-transition: transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

label.hamburger>i:before {
  -webkit-transform: translate(-50%, -14px);
  -ms-transform: translate(-50%, -14px);
  transform: translate(-50%, -14px);
}

label.hamburger>i:after {
  -webkit-transform: translate(-50%, 14px);
  -ms-transform: translate(-50%, 14px);
  transform: translate(-50%, 14px);
}

label.hamburger {
  position: fixed;
  top: 15px;
  right: 30px;
}

/**
      SCROLLBAR STYLE FOR IE
  */

body {
  scrollbar-base-color: #138a72;
  scrollbar-3dlight-color: #fff;
  scrollbar-highlight-color: #1abc9c;
  scrollbar-track-color: #fff;
  scrollbar-arrow-color: #1abc9c;
  scrollbar-shadow-color: #1abc9c;
  scrollbar-dark-shadow-color: #1abc9c;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.icon {
  display: inline-block;
  width: 5vw;
  height: 4vw;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

@media (min-width: 768px) {
  .drawer-list {
    width: 40vw;
  }

}